<p>Login Form here</p>
<form class="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <h2>Login Form</h2>

    <p>
      <label for="email"><span>Email:</span></label>
      <input [class.input-error]="isEmailValid" type="email" id="email"
          placeholder="john.doe@gmail.com" formControlName="email">
    </p>
    @if (isEmailValid) {
    <p class="error">
      {{ emailErrorMessage }}
    </p>
    }

    <p>
      <label for="password"><span>Password:</span></label>
      <input [class.input-error]="isPasswordValid" type="password" id="password"
          placeholder="********" formControlName="password">
    </p>
    @if (isPasswordValid) {
    <p class="error">
      {{ passwordErrorMessage }}
    </p>
    }

    <button [disabled]="loginForm.invalid">Login</button>

    <p class="text-center">
      Don't have an account?
      <a routerLink="/register">Register</a>
    </p>
  </fieldset>
</form>
