<form class="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <h2>Login Form</h2>

    <p class="email">
      <label for="email"><span>Email:</span></label>
      <input [class.input-error]="isEmailValid" type="email" id="email"
          placeholder="john@gmail.com" formControlName="email">
    </p>
    @if (isEmailValid) {
    <p class="input-error">
      {{ emailErrorMessage }}
    </p>
    }

    <p class="pass">
      <label for="password"><span>Password:</span></label>
      <input [class.input-error]="isPasswordValid" type="password" id="password"
          placeholder="********" formControlName="password">
    </p>
    @if (isPasswordValid) {
    <p class="input-error">
      {{ passwordErrorMessage }}
    </p>
    }

    <div class="action">
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </div>

    <p class="register">
      Don't have an account?
      <a routerLink="/register">Register</a>
    </p>
  </fieldset>
</form>
