ul, h1, p {
  background-color: rgb(159, 144, 199);
  color: white;
  display: block;
  text-align: center;
  padding: 0.5em 0.5em;
}

li {
  list-style-type: none;
}

li {
  background-color: rgb(111, 141, 151);
  text-decoration: none;
  color: azure;
  margin: 0.5em 1em;
  border-radius: 4px;
}

li:hover {
  background-color: aliceblue;
  color: black;
}

a.nav-link {
  text-decoration: none;
}
