ul, h1 {
  background-color: rgb(159, 144, 199);
  display: block;
  text-align: center;
  padding: 0.5em 0.5em;
}

ul {
  list-style-type: none;
}

li {
  background-color: rgb(42, 70, 79);
  text-decoration: none;
  color: azure;
  margin: 0.5em 1em;
  border-radius: 4px;
}

li:hover {
  background-color: aliceblue;
  color: blueviolet;
}
