<p>Register Component here</p>
<form class="register">
  <fieldset>
    <h2>Registration Form</h2>

    <!-- username -->
    <p>
      <label for="username"><span>Username:</span></label>
      <input [class.input-error]="usernameError" type="text" name="username"
          id="username" placeholder="Johnny" [(ngModel)]="username"
          (blur)="validateUsername()">
    </p>
    @if (usernameError) {
    <p class="error">
      {{ usernameErrorMessage }}
    </p>
    }

    <!-- email -->
    <p>
      <label for="email"><span>Email:</span></label>
      <input [class.input-error]="emailError" type="email" name="email"
          id="email" placeholder="john@gmail.com" [(ngModel)]="email"
          (blur)="validateEmail()">
    </p>
    @if (emailError) {
    <p class="error">
      {{ emailErrorMessage }}
    </p>
    }

    <!-- telephone -->
    <p>
      <label for="tel"><span>Phone:</span></label>
      <select name="select-tel" id="select-tel" class="tel">
        <option value="00359">+359</option>
      </select>
      <input [class.input-error]="phoneError" type="text" name="tel" id="tel"
          placeholder="885 888 888" [(ngModel)]="phone"
          (blur)="validatePhone()">
    </p>
    @if (phoneError) {
    <p class="error">
      {{ phoneErrorMessage }}
    </p>
    }

    <!-- password -->
    <p class="field field-icon">
      <label for="password"><span>Password:</span></label>
      <input [class.input-error]="passwordError" type="password" name="password"
          id="password" placeholder="********" [(ngModel)]="password"
          (blur)="validatePassword()">
    </p>
    @if (passwordError) {
    <p class="error">
      {{ passwordErrorMessage }}
    </p>
    }

    <!-- rePassword -->
    <p>
      <label for="rePassword"><span>RePassword:</span></label>
      <input [class.input-error]="rePasswordError" type="password"
          name="rePassword" id="rePassword" placeholder="********"
          [(ngModel)]="rePassword" (blur)="validateRePassword()">
    </p>
    @if (rePasswordError) {
    <p class="error">
      {{ rePasswordErrorMessage }}
    </p>
    }

    <button [disabled]="!isFormValid()">Create Account</button>

    <p>
      Have an account?
      <a routerLink="/login">Log In</a>
    </p>
  </fieldset>
</form>
