<form class="register" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <h2>Registration Form</h2>

    <!-- username -->
    <p class="username">
      <label for="username"><span>Username:</span></label>
      <input [class.input-error]="isUsernameValid" type="text" id="username"
          placeholder="Johny" formControlName="username">
    </p>
    @if (isUsernameValid) {
    <p class="input-error">
      {{ usernameErrorMessage }}
    </p>
    }

    <!-- email -->
    <p class="email">
      <label for="email"><span>Email:</span></label>
      <input [class.input-error]="isEmailValid" type="email" id="email"
          placeholder="john@gmail.com" formControlName="email">
    </p>
    @if (isEmailValid) {
    <p class="input-error">
      {{ emailErrorMessage }}
    </p>
    }

    <div formGroupName="passwords">
      <!-- password -->
      <p class="pass">
        <label for="password"><span>Password</span></label>
        <input [class.input-error]="isPasswordsValid" type="password"
            id="password" placeholder="********" formControlName="password">
      </p>
      @if (isPasswordsValid) {
      <p class="input-error">
        {{ passwordErrorMessage }}
      </p>
      }

      <!-- rePassword -->
      <p class="pass">
        <label for="rePassword"><span>RePassword:</span></label>
        <input [class.input-error]="isPasswordsValid" type="password"
            id="rePassword" placeholder="********" formControlName="rePassword">
      </p>
      @if (isPasswordsValid) {
      <p class="input-error">
        {{ rePasswordErrorMessage }}
      </p>
      }
    </div>

    <div class="action">
      <button type="submit" [disabled]="registerForm.invalid">
        Create Account
      </button>
    </div>

    <p class="login">
      Have an account?
      <a routerLink="/login">Log In</a>
    </p>
  </fieldset>
</form>
